html {
  height: 100%;
  width: 100%;
  background-color: black;
}

h1, h2, p {
  font-family: zekton;
}

#main {
  width: 90%;
  background-color: gray;
  margin: auto;
}

header {
}

header > h1, p {
  text-align: center;
}

header > p {
  font-size: 1.4em;
}

#img-div {
  width: 80%;
  background-color: white;
  margin: auto;
}

#img-div > p {
  font-size: 1.2em;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

#tribute-info {
  width: 40%;
  margin: auto;
}

#tribute-info > h2 {
  text-align: center;
}

footer {
}

footer > p {
  text-align: center;
  font-size: 1.5em;
}

@media (max-width: 650px) {
  html {
    background-color: yellow;
  }

  header > p {
    font-size: 1.4em;
  }

  #img-div > p {
    font-size: 1em;
  }

  footer > p {
    font-size: 1em;
  }
}
